{
  extends: 'standard',

  // Mocha
  globals: {
    describe: true,
    before: true,
    it: true,
    after: true
  },

  // Almost Standard
  rules: {
    // Disable: Block must not be padded by blank lines
    'padded-blocks': 'off',

    // Disable: More than 1 blank line not allowed
    'no-multiple-empty-lines': 'off',

    // Configure: Closing curly brace does not appear on the same line as the subsequent block
    'brace-style': [2, 'stroustrup'],

    // Just some `var`s you know
    'no-redeclare': 'off',

    // regex strings in tests
    'no-useless-escape': 'off'
  }
}
